name: Deploy to Azure

on:
  workflow_dispatch:
    inputs:
      artifact_id:
        description: 'Id of the artifact to deploy'
        required: true
        type: string

  workflow_call:
    inputs:
      artifact_id:
        description: 'Id of the artifact to deploy'
        required: true
        type: string

permissions:
  contents: read
  deployments: write
  checks: write
  pull-requests: write

jobs:
  deploy:
    name: Deploy to Azure
    runs-on: ubuntu-latest
    concurrency: production-deploy
    environment:
      name: production
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Full history for Nbgv versioning

      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          artifact-ids: ${{ inputs.artifact_id }}
          path: ${{ vars.AZURE_WEBAPP_PACKAGE_PATH }}

      - name: Deploy
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ vars.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: "${{ vars.AZURE_WEBAPP_PACKAGE_PATH }}"

  smoke-tests:
    needs: deploy
    uses: ./.github/workflows/run-smoketests.yml
    secrets: inherit
